ul.nav
  li
    a(href="#") Home
  li
    a(href="#") About
  li
    a(href="#") Contact
    
form(action="").pull-right

  input(type="text",placeholder="Username").input-small

  button(type="submit").btn Sign In
