extends layout

block title
  title #{project.name} &gt; #{page.name}


block head
  h1 #{page.name} 
    small Super Page

block content
  .span10
    h2 Hello Universe
  .span4
    h3 Listed contents