!!! 5
html
  head
    title Express Bootstrap
    link(rel="stylesheet", href="/public/css/reset.css", type="text/css")
    link(rel="stylesheet", href="/public/css/styles.css", type="text/css")
    script(src='/public/js/jquery-1.7.1.min.js')
    script(src='/public/js/scripts.js')
  body
    #wrapper
      p Hello China