!!! 5

html

  head
    block title
    include inc/styles
    include inc/scripts

  body
    .topbar
      .fill
        .container
          a(href="#").brand= project.name
          include inc/menu
    .container 
      .content
        .page-header
          block head
        .row
          block content
      footer
        p &copy; #{company.name} #{(new Date).getFullYear()}
            
    
